.category-item:hover .card-footer {
    visibility: visible !important;
}
.plus-btn {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.plus-btn:hover {
    transform: scale(1.3); /* Scale the button itself */
}

.plus-btn:focus {
    outline: none;
}

.plus-btn svg {
    transition: transform 0.3s ease; /* Smooth transition for the SVG */
}

.plus-btn:hover svg {
    transform: rotate(180deg) scale(1.2); /* Rotate and scale the SVG */
}

.styled-link {
    font-weight: 700; /* Жирний шрифт */
    font-size: 1.2rem; /* Трохи більший розмір тексту */
    color: #3490dc; /* М'який синій колір */
    background: linear-gradient(to right, #3490dc, #6574cd); /* Градієнт */
    -webkit-background-clip: text; /* Прив'язка градієнта до тексту */
    -webkit-text-fill-color: transparent; /* Прозорий текст */
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Плавний перехід */
}

.styled-link:hover {
    color: #1d68a7; /* Трохи темніший синій */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); /* Легкий тіньовий ефект при наведенні */
}
